
@{
    ViewBag.Title = "Index";
}

<body>
    <div class="jumbotron feature">
        <div class="container">
            @*<h1><span class="glyphicon glyphicon-equalizer"></span> Dramatically Engage</h1>
        <p>Give your staff the educational opportunity they deserve. And enjoy yourself while doing it.</p>
        <p><a class="btn btn-default" href="#">Engage Now</a></p>*@

            <div class="row text-center">
                <h2>New Courses Release</h2>

            </div>
            <div class="row text-center">
                <h3 class="btn btn-default" href="#">Engage Now</h3>
            </div>
            

        </div>
        </div>

    <!-- Content -->
    <div class="container">

        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Superior Collaboration
                    <small>Increased productivity</small>
                </h1>
                <p>Your employees' productivity is increased via training. Employees perform better and produce more when they are confidently informed about what is expected of them and given the necessary training programs to complete their tasks. Holistically pontificate installed base portals after maintainable products.</p>
            </div>
        </div>
        <!-- /.row -->
        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Efficiently Resource</a>
                </h3>
                <p>A committed team of professionals is always trying to develop training materials that are precise and simple to understand.</p>
            </article>
            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Teamwork and Collaboration</a>
                </h3>
                <p>Improving workplace collaboration requires doing staff training. Teams of employees often work together in each department. They will learn how to work together and streamline their work process via learning and growth.</p>
            </article>

            <article class="col-md-4 article-intro">
                <a href="#">
                    <img class="img-responsive img-rounded" src="holder.js/700x300" alt="">
                </a>
                <h3>
                    <a href="#">Employee Engagement</a>
                </h3>
                <p>Employee involvement is the main advantage of training new employees. Conducting training programs is mostly done to inspire staff to get involved in corporate activities, demonstrate a high degree of accountability, and engage in conversation.</p>
            </article>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
</body>
